.box {
  padding: 0rem;
  text-align: center;
  vertical-align: top;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: none;
}

img {
  width: 50%;
  height: 50%;
  transition: all 0.5s ease-in-out;
}

.box:hover {
  transform: scale(1.1);
}

.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
  outline: 0;
  vertical-align: baseline;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}